<header th:fragment="header(username)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-weight: bold;color:blue">BookExchange</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'active':''}" th:href="@{/}" >Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${#httpServletRequest.getRequestURI() == '/upload' ? 'active':''}" th:href="@{/upload}" >Upload Sách</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Nhập...." aria-label="Tìm Kiếm">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Tìm Kiếm</button>
            </form>
        </div>
        <div class="dropdown ml-2 mr-1" th:if="${username != null}">
            <button class="btn btn-secondary dropdown-toggle" type="button" style="background-color:blue;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${username}">
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Trang Cá Nhân</a>
                <a class="dropdown-item" th:href="@{/logout}">Đăng Xuất</a>
            </div>
        </div>
        <a th:href="@{/register}">
            <button type="button" class="btn btn-light ml-2 mr-1" th:if="${username == null}">Đăng kí</button>
        </a>

        <a th:href="@{/login}">
            <button type="button" class="btn btn-primary mr-1" th:if="${username == null}">Đăng nhập</button>
        </a>

    </nav>
</header>