.book-image {
    max-width: 200px;
    height: 300px;
    
  }
.single-course{
    float: left;
    /* padding:20px; */
    margin:20px;
    font-size: 18px;
    width: 250px;
    border: transparent solid 5px;
}
.details{
    padding:20px;
    margin-bottom: 0px;
    font-size: 18px;
}
.single-course:hover{
    border: #e2e8f0 solid 5px;
}

.available-btn {
    background-color: #f53f51;
    color: #fff;
    width: 140px;
    text-align: center;
    padding: 5px 5px;
    position: absolute;
    margin-top: -80px;
    margin-left: 30px;
  }
.frame-book{
    display: flex;
    padding-top:20px;
    padding-bottom: 20px;
    align-items: center;
   justify-content: center;
}
.center-item{
    align-items: center;
    justify-content: center;
}