<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang Chủ</title>
    <th:block th:replace="fragments/common_head.html :: head" />
    <style>
        .a-no{
            text-decoration: none !important;
            color: black;
        }
    </style>
</head>

<body>
    <th:block th:replace="fragments/common_header.html :: header(${username})" />
    <div class="container center-item">
        <div class="row center-item">
            <div class="single-course item">
                <div class="frame-book">
                    <img class="img-fluid book-image" th:src="@{/img/harry1.jpg}">
                </div>
                <p class="available-label unavailable-label-color">Không có sẵn </p>
                <div class="details">
                    <p class="title">Harry Potter và chiếc cốc lửa</p>
                    <p> Nguyễn Công Anh</p>
                </div>
            </div>
            <div class="single-course item">
                <div class="frame-book">
                    <img class="img-fluid book-image" th:src="@{/img/harry2.jpg}">
                </div>
                <p class="available-label available-label-color">Có sẵn</p>
                <div class="details">
                    <p class="title">Harry Potter và Hoàng tử lai</p>
                    <p> Nguyễn Công Anh</p>
                </div>
            </div>
            <a th:href="@{/book(id=${1})}">
                <div class="single-course item">
                    <div class="frame-book">
                        <img class="img-fluid book-image" th:src="@{/img/harry3.jpg}">
                    </div>
                    <p class="available-label unavailable-label-color">Không có sẵn</p>
                    <div class="details">
                        <p class="title">Harry Potter và phòng chứa bí mật</p>
                        <p> Nguyễn Công Anh</p>
                    </div>
                </div>
            </a>
            <div class="single-course item">
                <div class="frame-book">
                    <img class="img-fluid book-image " th:src="@{/img/conan3.jpg}">
                </div>
                <p class="available-label available-label-color">Có sẵn</p>
                <div class="details">
                    <p class="title">Conan</p>
                    <p> Nguyễn Công Anh</p>
                </div>
            </div>
            <div class="single-course item">
                <div class="frame-book">
                    <img class="img-fluid book-image " th:src="@{/img/conan3.jpg}">
                </div>
                <p class="available-label available-label-color">Có sẵn</p>
                <div class="details">
                    <p class="title">Conan</p>
                    <p> Nguyễn Công Anh</p>
                </div>
            </div>
            <div class="single-course item">
                <div class="frame-book">
                    <img class="img-fluid book-image " th:src="@{/img/conan3.jpg}">
                </div>
                <p class="available-label available-label-color">Có sẵn</p>
                <div class="details">
                    <p class="title">Conan</p>
                    <p> Nguyễn Công Anh</p>
                </div>
            </div>
            <div class="single-course item" th:each="book : ${bookList}">
                <a th:href="@{'/book/' + ${book.id}}" class="a-no">
                    <div class="frame-book">
                        <img class="img-fluid book-image" th:src="@{'/image/' + ${book.defaultImageLink}}">
                    </div>
                    <p class="available-label available-label-color">Có sẵn</p>
                    <div class="details">
                        <p class="title" th:text="${book.title}"></p>
                        <p th:text="${book.owner.fullName}"></p>
                    </div>
                </a>
            </div>
        </div>



        <!-- {% comment %} <a href="/store/" class="cta">
            <span>See More</span>
            <svg width="13px" height="10px" viewBox="0 0 13 10">
                <path d="M1,5 L11,5"></path>
                <polyline points="8 1 12 5 8 9"></polyline>
            </svg>
        </a> {% endcomment %} -->
    </div>
</body>

</html>