<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang Chủ</title>
    <th:block th:replace="fragments/common_head.html :: head" />
</head>

<body>

    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Xin chào</h3>
                <form method="GET" action="/login">
                    <input type="submit" class="btn btn-success" value="Đăng nhập"></input>
                </form>

                <br />
            </div>
            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Sinh viên</a>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <form action="/register" method="POST" id="register">
                            <div class="row register-form" action>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="fullName" placeholder="Họ và tên"
                                            value="" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" placeholder="Email"
                                            value="" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="password" class="form-control" name="password"
                                            placeholder="Mật khẩu" value="" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="_password" class="form-control"
                                            placeholder="Nhập lại mật khẩu" value="" required />
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="schoolName" placeholder="Trường"
                                            value="" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="text" minlength="5" name="studentId" class="form-control"
                                            pattern="[A-Za-z0-9]+" placeholder="MSSV" value="" required />
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="phoneNumber" minlength="8"
                                            maxlength="15" placeholder="Số điện thoại"
                                            pattern="^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$" value="" required />
                                    </div>
                                    <input type="submit" class="btnRegister" value="Đăng ký" />
                                </div>
                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>
        <script>
            let isValid = false;
            let register = document.getElementById("register");
            register.addEventListener("submit", (e) => {
                if (!isValid) {
                    e.preventDefault();
                    let password = document.getElementById("password").value;
                    let _password = document.getElementById("_password").value;
                    if (password === _password) {
                        isValid = true;
                        $('#register').submit();
                    }
                    else{
                        alert("Mật khẩu nhập lại chưa đúng!!");
                    }
                }
            });
        </script>

    </div>



</body>

</html>